.block-canvas {
	overflow-x:auto;
	padding-top:20px;
	padding-bottom:20px;
}

.block-container {
	position:relative;
	display:table;

	padding-top:10px;
	padding-bottom:10px;

	.block-in-queue {
		position:relative;
		display:table-cellll;
	}

	.block-body {
		position:relative;
		display:table-cell; 
		border-radius:10px;
		border:3px solid #939393;

		min-width:200px;
		height:100%;
		min-height:60px;
		padding-top:10px;
		padding-bottom:10px;
	}

	.block-out-queues {
		position:relative;
		display:table-cell; 
		padding-bottom:15px;
	}

	.block-queue {
		padding:10px 10px 5px 10px;
		border-bottom:3px solid #A0A0A0;
		color: #656565;
		font-size: 12px;
		text-align:center;
	}

	&:before,
  	&:after {
    	content: " ";
    	display: table;
  	}
  	&:after {
    	clear: both;
  	}

}