@import './schema.scss';
@import './utils.scss';

//
// Alerts
// --------------------------------------------------

@mixin alert-variant($background, $border, $text-color) {
    background-color: $background;
    border-color: $border;
    color: $text-color;

    hr {
        border-top-color: darken($border, 5%);
    }
    .alert-link {
        color: darken($text-color, 10%);
    }
}

// Base styles
// -------------------------
.alert {
    padding: $alert-padding;
    border: 1px solid transparent;
    border-radius: $alert-border-radius;

    h4 {
        margin-top: 0;
        color: inherit;
    }

    .alert-link {
        font-weight: $alert-link-font-weight;
    }

    // Improve alignment and spacing of inner content
    > p,
    > ul {
        margin-bottom: 0;
    }

	> ul.errors {
		list-style-type: none;
		padding:0px;
	}

}

// Dismissible alerts
.alert-dismissable,
.alert-dismissible {
    padding-right: ($alert-padding + 20);
    .close {
        position: relative;
        top: -2px;
        right: -21px;
        color: inherit;
    }
}

// Alternate styles
.alert-success {
    @include alert-variant($alert-success-bg, $alert-success-border, $alert-success-text);
}

.alert-info {
    @include alert-variant($alert-info-bg, $alert-info-border, $alert-info-text);
}

.alert-warning {
    @include alert-variant($alert-warning-bg, $alert-warning-border, $alert-warning-text);
}

.alert-danger {
    @include alert-variant($alert-danger-bg, $alert-danger-border, $alert-danger-text);
}
