@import './schema.scss';
@import './utils.scss';


.btn {
    @if $button-rounded {
        @include rounded($button-border-radius);
    }
padding: $button-padding;

display: inline-block;
margin-bottom: 0;
text-align: center;
vertical-align: middle;
touch-action: manipulation;
cursor: pointer;
background-image: none;
border: 1px solid transparent;
white-space: nowrap;

text-transform:$button-text-transform;
font-weight:$button-font-weight;
outline:none;
}

