@import './schema.scss';


.dev-tool-size {
    display:block !important;
    position:fixed;
    background-color:inherit;
    width:100%;
    bottom:0px;

    > div {
        display: inline-block;
        padding: 5px 15px;
    }
}

.xs {
    color: #222222;
}

.sm,
.md,
.lg,
.xl {
    color: #C0C0C0;
}

@media (min-width: $screen-sm-min) {
    .sm {
        color: #222222;
    }
}
@media (min-width: $screen-md-min) {
    .md {
        color: #222222;
    }
}
@media (min-width: $screen-lg-min) {
    .lg {
        color: #222222;
    }
}
@media (min-width: $screen-xl-min) {
    .xl {
        color: #222222;
    }
}