@import './schema.scss';

.filter {
	position:relative;
	height: $filter-height;
	border: $filter-border-size solid $filter-border-color;
	background-color: $filter-background-color;

	//TODO 
	padding: 0px 175px 0px 0px;

	input {
		width:100%;
		height:100%;
		padding:5px 15px;
		border:0px;
		font-size: $filter-input-font-size;
	}

	.filterButton {
		position:absolute;
		top:0px;
		right:0px;
		width:175px;
		height:100%;

		font-size: $filter-button-font-size;
		font-weight:700;
		color: $filter-button-text-color;

		border:0px;
		background-color: $filter-button-color;
		cursor:pointer;
	}

	.filterButton:hover {
		color: $filter-button-text-color-hover;
		background-color: $filter-button-color-hover;
	}

	.filterButton:disabled {
		color: $filter-button-text-color-disabled;
		background-color: $filter-button-color-disabled;
	}
}

