@import './schema.scss';

.tableHeader {
	border-bottom:3px solid #C3C3C3;
	font-size:18px;
	font-weight:500;
	color:#949494;
}

.tableRow {
	color:#626262;
	border-bottom:1px solid #D5D5D5;
	font-size:18px;
	cursor:pointer;

	&:hover {
		background-color:#EAEAEA;
	}
}

.tableCell {
	padding:10px;
	overflow:hidden;
}

