@mixin rounded($radius: 3px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin list-padding($padding: 0px) {
	-moz-padding-start: $padding;
	-webkit-padding-start: $padding;
	-khtml-padding-start: $padding;
	-o-padding-start: $padding;
	padding-start: $padding;
	padding: $padding;
}